<div class="box_margin xy_center">
  <div class="text_right edit_btn">
    <%= link_to "変更する", edit_user_path(@user) , class: "border_btn" if current_user.id.to_s == params[:id] %>
  </div>
  <% unless @user == current_user %>
    <div class="text_right follow_link">
      <% if current_user.following?(@user) %>
        <%= link_to "フォロー中", user_relationships_path(@user.id), class: "border_btn follow_link", method: :delete %>
      <% else %>
        <%= link_to "フォローする", user_relationships_path(@user.id), class: "border_btn follow_link" , method: :post %>
      <% end %>
    </div>
  <% end %>
  <!--アイコン画像-->
  <div class="circle_img text-center ">
    <% if !current_user.icon_image_id.blank? %>
      <%= image_tag ("/user_images/#{@user.icon_image_id}") %>
    <% else %>
       <%= image_tag ("/user_images/no_image.jpg") %>
    <% end %>
  </div>

  <!--名前-->
  <p class="xy_center">
    <%= current_user.nickname %>さん
  </p>
  <div class="follow_box">
    <div class="row btn pb_30px">
      <%= link_to user_followings_path(@user) do %>
        <p class="follow_p"><%= @user.followings.count %>フォロー中</p>
      <% end %>
      <%= link_to user_followers_path(@user)do %>
        <p class="follow_p"><%= @user.followers.count %>フォロワー</p>
      <% end %>
    </div>
  </div>

  <div class="tags_box">
    <% @tags.each do |tag| %>
    <p class ="tag">
      <%= tag.name %>
    </p>
    <% end %>
  </div>

  <div class="box border_bottom border_top text_left">
    <p>【自己紹介】</p>
    <%= @user.introduction %>
  </div>

  <% if params[:id] == current_user.id.to_s %>

    <div class="tab-list list-unstyled row">
      <p class="tab tab-active">
        これからの約束
      </p>
      <p class="tab">
        進行中・過去の約束
      </p>
      <p class="tab">
        いいねした約束
      </p>
    </div>


    <div class="tabbox-contents">
      <div class="tabbox box-show">
        <div class="posts_box xy_center">
          <ul class="cards7">
            <%= render partial: 'posts/posts', collection: @before_posts, as: :post %>
          </ul>
        </div>
      </div>
      <div class="tabbox">
        <div class="posts_box xy_center">
          <ul class="cards7">
            <%= render partial: 'posts/posts', collection: @after_posts, as: :post %>
          </ul>
        </div>
      </div>
      <div class="tabbox">
        <div class="posts_box xy_center">
          <ul class="cards7">
            <%= render partial: 'posts/posts', collection: @like_posts, as: :post %>
          </ul>
        </div>
      </div>

    </div>

  <% end %>

</div>
