<div class="box_margin xy_center">
  <div class="text_right edit_btn">
    <%= link_to "変更する", edit_user_path(@user) , class: "border_btn" if current_user.id.to_s == params[:id] %>
  </div>
  <% unless @user == current_user %>
    <div class="text_right">
      <% if current_user.following?(@user) %>
        <%= link_to "フォロー中", user_relationships_path(@user.id), class: "border_btn", method: :delete %>
      <% else %>
        <%= link_to "フォローする", user_relationships_path(@user.id), class: "border_btn" , method: :post %>
      <% end %>
    </div>
  <% end %>
  <!--アイコン画像-->
  <div class="circle_img text-center ">
    <% if !current_user.icon_image_id.blank? %>
      <img src="/user_images/<%= @user.icon_image_id %>" width="200px" />
    <% else %>
      <img src="/user_images/no_image.jpg" width="200px" />
    <% end %>
  </div>

  <!--名前-->
  <p class="xy_center">
    <%= current_user.nickname %>さん
  </p>

  <div class="row btn pb_30px">
    <%= link_to user_followings_path(current_user) do %>
      <p><%= @user.followings.count %>フォロー中</p>
    <% end %>
    <%= link_to user_followers_path(current_user)do %>
      <p><%= @user.followers.count %>フォロワー</p>
    <% end %>
  </div>

  <div class="tags_box">
    <% @tags.each do |tag| %>
    <p class ="tag">
      <%= tag.name %>
    </p>
    <% end %>
  </div>

  <div class="box border_bottom border_top text_left">
    <p>【自己紹介】</p>
    <%= @user.introduction %>
  </div>

  <% if params[:id] == current_user.id.to_s %>

    <div class="tab-list list-unstyled row">
      <p class="tab tab-active">
        これからの約束
      </p>
      <p class="tab">
        これまでの約束
      </p>
      <p class="tab">
        いいねした約束
      </p>
    </div>


    <div class="tabbox-contents">
      <div class="tabbox box-show">
        <div class="posts_box xy_center">
          <ul class="cards7">
            <%= render partial: 'posts/posts', collection: current_user.posts, as: :post %>
          </ul>
        </div>
      </div>
      <div class="tabbox">
        <%= link_to "投稿2", root_path %>
      </div>
      <div class="tabbox">
        <%= link_to "投稿3", root_path %>
      </div>

    </div>

  <% end %>

</div>
