<div class="post_show">
  <div class="box">
    <div class="bg-image">
      <img class="genre_image" src="/assets/<%= @post.genre.image_id %>"  alt="アイキャッチ画像">
      <p class="title_text"><%= @post.title %></p>
        <% if @post.room.present? %>
          <p class="title_text_s">
            <%= @post.room.users.count.to_s %> / <%= @post.limit.to_s %> 人
          </p>
        <% else %>
          <p class="title_text_s">
            0 / <%= @post.limit.to_s %> 人
          </p>
        <% end %>

      <%= link_to "編集する", edit_post_path(@post), class:"border_btn post_edit_btn"  %>
      
     <div class="post_like_btn border_btn">
        <div id="likes_buttons_<%= @post.id %>">
          <%= render 'likes/like', post: @post %>
        </div>
      </div>
    </div>

    <div class="flex">
      <div class="left_box flow_item right_border">
        <p>お約束の時間</p>
        <p><%= @meeting_at.strftime("%Y年%m月%d日") %></p>
        <p class="time_lg"><%= @meeting_at.strftime("%H:%M") %>〜</p>
      </div>
      <div class="right_box flow_item flex">
        <div class="left_box flow_item user_box">
          <p>主催者：<%= @post.user.nickname %>さん</p>
          <div class="circle_img_s text-center ">
            <img src="/user_images/<%= @post.user.icon_image_id %>" width="50px" />
          </div>
        </div>
        <div class="right_box flow_item">
          <p>ユーザーのイメージ画像</p>
        </div>
      </div>
    </div>

    <div class="post_show_btn">
      <% if @post.user == current_user && @post.room.nil? %>
        <%= link_to "Roomを開く", post_rooms_path(@post), method: :post, class:"btn_green post_show_btn"%>
      <% elsif @post.user != current_user && @post.room.present? && @post.room.users.exclude?(current_user) %>
        <%= link_to "参加する", join_room_path(@post.room), class:"btn_blue"%>
      <% elsif @post.user != current_user && @post.room.nil? %>
        <p>ルームは開かれていません。</p>
      <% else %>
        <%= link_to "Room", room_path(@post.room), class:"btn_yellow"%>
      <% end %>
    </div>

    <div class="body">
      <p class >【お約束の内容】</p>
      <p class="post_body">
        <%= @post.body %>
      </p>
    </div>
  </div>
</div>